.mainColor{
  background-color: #3698D2;
  width: 200px;
  height: 200px;
}
.secondColor{
  background-color: #BDF7FD
  ;
  width: 200px;
  height: 200px;
}
.container {
  display: flex;
}
.content {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
}
