.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;

}
.title {
  margin-left: 12rem;
  margin-right: 12rem;
  font-size: 3rem;
  color: #fff;
  font-family: 'Fira Code', cursive;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5vh;
}
